node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
save-workspace-protocol=true
@rishikeshjoshi-morpheus:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}